<header><nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<a class="navbar-brand mr-2" href="{{ '/' }}">
		<img src="https://avatars.githubusercontent.com/u/11584103?v=4" class="rounded-sm d-inline-block align-top" alt="Avatar" decoding="async" width="32" height="32">
	</a>
	<a class="navbar-brand" href="{{ '/' | relative_url }}">
		Mini HTMLs
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Pages
				</a>
				<ul class="dropdown-menu" aria-labelledby="navDrop">
					{% for page in site.data.pages %}
					<li>
						<a class="dropdown-item" href="{{ page.link | relative_url }}">
							{{ page.name }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ site.repository }}">
					Repository
				</a>
			</li>
		</ul>
		<span class="nav-text ml-auto" style="color: #fff;">
			<i>Ready or not, here we go!</i>
		</span>
	</div>
</nav></header>
