---
layout: default
title: Index
description: Welcome to my collection of pages where I do some random stuff using HTML5, CSS, and JS!
---

<div class="container">
	<div class="jumbotron">
		<h1>Hans5958's Mini HTMLs</h1>
		<p>Welcome to my collection of pages where I do some random stuff using HTML5, CSS, and JS! Please click one of the buttons below, or use the navbar on the top.</p>
	</div>
	
	{% for page in site.data.pages %}
		{% cycle "toptag": '<div class="row">', "" %}
			<div class="col-sm-12 col-lg-6">
				<a class="grid-item btn btn-light" href="{{ page.link | relative_url }}">
					<p class="name">{{ page.name }}</p>
					{% if page.desc %}
						<p class="desc">{{ page.desc }}</p>
					{% else %}
						<p class="desc font-italic">No description provided.</p>
					{% endif %}
				</a>
			</div>	
		{% cycle "bottomtag": "", "</div>" %}
	{% endfor %}
</div>

<style>
	.grid-item {
		/* color: black;
		border:1px solid black ; */
		text-align: center;
		display: block;
		margin: 2px;
		padding: 1rem 0.5rem;
		height: 8rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.grid-item:hover {
		text-decoration: none;
		/* color: black;
		background-color: #f8f9fa */
	}

	.grid-item .name {
		font-weight: bold;
		font-size: 1rem;
	}

	.grid-item .desc {
		margin: 0;
	}
</style>
