  <!-- Title and Meta -->
  <title>{{ page.title }} - Hans5958's Mini HTMLs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Hans5958">
  <!-- Require Script and Loading Page -->
  <link rel="stylesheet" href="/assets/css/footer.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="/assets/js/bootstrap-4-navbar.js"></script>
  <link rel="stylesheet" href="/assets/css/bootstrap-4-navbar.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  <script>Pace.on("done", function(){$('#overlay').delay(300).fadeOut(600);setTimeout(function(){Pace.options.ajax = false}, 300)});</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-flash.min.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49890594-3"></script>
  <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-49890594-3",{"page_path":`/mini-htmls${document.location.pathname}`})</script>