<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="index.html">
    Hans5958's Mini HTMLs
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pages
        </a>
        <ul class="dropdown-menu" aria-labelledby="navDrop">
          <li>
            <a class="dropdown-item" href="sourceforge-mirror-test.html">
              SourceForge Mirror Test
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="subscriber-battle.html">
              Subscriber Battle
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="like-battle.html">
              Like Battle
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="dislike-battle.html">
              Dislike Battle
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="scratch-stats.html">
              Scratch Stats
            </a>
          </li>
		  <li>
            <a class="dropdown-item" href="scratch-link-shortener.html">
              Scratch Link Shortener
            </a>
          </li>
		  <li>
            <a class="dropdown-item" href="discordgg.ga/index.html">
              discordgg.ga Website Snapshots
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../">
          Main Website
        </a>
      </li>
    </ul>
    <span class="nav-text ml-auto" style="color:#fff;">
      <i>Ready or not, here we go!</i>
    </span>
  </div>
</nav>
<br>
