const cacheName = '{{ page.id }}@{{ site.time | date: "%s%N" }}'

const cacheResource = `{{ '/assets/js/base.js' | absolute_url }}
{{ '/assets/js/pwa.js' | absolute_url }}
{{ '/assets/css/base.css' | absolute_url }}
{{ '/assets/img/placeholder-144.png' | absolute_url }}
{{ content }}
https://cdn.jsdelivr.net/combine/npm/jquery@3.5.1/dist/jquery.min.js,npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js,npm/pace-js@1.2.4,npm/@iconify/iconify@1.0.7
https://cdn.jsdelivr.net/combine/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css,npm/pace-js@1.2.4/themes/blue/pace-theme-flash.min.css`.trim().split('\n')

self.addEventListener('install', (event) => {
	logInfo(`Service worker installed.`)
	self.skipWaiting()
	event.waitUntil(caches.open(cacheName).then((cache) => cache.addAll(cacheResource)))
	logInfo(`Resources cached.`)
});

self.addEventListener('activate', (event) => {
	logInfo(`Service worker activated.`)
	event.waitUntil(clients.claim())
});

self.addEventListener("statechange", event => {
	if (newSW.state == "installed") {
		logInfo(`Service worker updated.`)
		// New service worker is installed, but waiting activation
	}
});


self.addEventListener('fetch', (event) => {
	// console.log('Fetch intercepted for:', event.request.url);
	event.respondWith((async function () {
		const cachedResponse = await caches.match(event.request);
		if (cachedResponse) {
			return cachedResponse;
		}

		const networkResponse = await fetch(event.request);

		const hosts = [
			'https://cdn.jsdelivr.net'
		];

		if (hosts.some((host) => event.request.url.startsWith(host))) {
			const clonedResponse = networkResponse.clone();

			event.waitUntil((async function () {
				const cache = await caches.open(cacheName);
				await cache.put(event.request, clonedResponse);
			})());
		}

		return networkResponse;
	})());
});

function logInfo(...data) {
	console.info(`[${cacheName}]`, ...data)
}